
.start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start{
    margin: 2px 2px 2px 2px;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    width: 50vw;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 190, 59);
    border-radius: 100px;
    
}
.start:hover{
    border: 2px solid black;
}